@charset "UTF-8";


body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}


/* form.css */
.signup-section {
  max-width: 400px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box; /* 패딩/보더 포함해서 크기 계산 */
}

.signup-section input,
.signup-section table {
  box-sizing: border-box;
}


.signup-section h1 {
  text-align: center;
  color: #333;
}


table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px;
  border: none;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
