<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<Appenders>
	    <Console name="console" target="SYSTEM_OUT">
	      <PatternLayout pattern="%-5p: %c - %m%n" />
	    </Console>
	</Appenders> 
	
<Loggers>
    <Logger name="org.springframework" level="INFO" />
    <Logger name="org.springframework.security" level="INFO" />
    
    <Logger name="jdbc.sqlonly" level="INFO" additivity="false">
        <AppenderRef ref="console" />
    </Logger>
    <Logger name="jdbc.sqltiming" level="INFO" additivity="false">
        <AppenderRef ref="console" />
    </Logger>
    
    <Root level="INFO">
        <AppenderRef ref="console" />
    </Root>
</Loggers>

</Configuration>